$primary: black;
$link-color: #0d6efd; // bootstrap primary

@import 'bootstrap/scss/bootstrap';

html, body, #root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

.page {
  // margin-top because the top is sticky
  margin-top: 70px;
}

:root {
  --bs-font-sans-serif: 'IBM Plex Sans', sans-serif;
  --bs-code-color: rgb(31, 35, 40);
  //
}
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;1,400&display=swap');

body {
  margin-bottom: 60px;
}

.bg-body {
  --bs-bg-opacity: 0.6;
  backdrop-filter: blur(8px);
}

h1, h2, h3, h4, h5, h6 {
  scroll-margin-top: 60px;
}

.transition-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  pointer-events: none;
  background-color: white;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  &.transitioning {
    opacity: 0.8;
    pointer-events: auto;
    width: 100%;
    height: 100%;
  }
}

.fastui-markdown code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: rgba(175, 184, 193, 0.2);
  border-radius: 6px;
}

// custom spinner from https://cssloaders.github.io/

.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: dots 1.8s infinite ease-in-out;
}
.spinner {
  color: var(--bs-dark);
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
  }
  &:before {
    left: -3.5em;
    animation-delay: -0.32s;
  }
  &:after {
    left: 3.5em;
  }
}

@keyframes dots {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
